
.container1 {
    
    display: flex;
    flex-direction: column;   
    align-items: center;
    
}
:root {
    --primary-color: #c7eef4;
    --accent-color: #f50057;
    --text-color: #263238;
    --body-color: #3398f6;
    --main-font: 'roboto';
    --font-bold: 700;
    --font-regular: 400;
}

* {
    box-sizing: border-box
}

body {
    color: var(--text-color);
    background-color: var(--body-color);
    font-family: var(--main-font), Arial;
    font-weight: var(--font-regular);
}

.SearchBox {
    margin-top: 30px;
}

select {

    width: 70vh;    

}

#sltCountry {
    color: darkblue;
    font-weight: var(--font-bold);
    font-size: 25px;
    text-align-last: center;
    opacity: .6;
}


h1 {
    margin-top: 30px;
    font-weight: var(--font-bold);
    color: aliceblue;
}

select,
button {
    border: none;
    background: none;
    outline: 0;
}

button {
    cursor: pointer
}




.SearchBox {
    --height: 4em;
    display: flex;
    border-radius: var(--height);
    background-color: var(--primary-color);
    height: var(--height);
}

    .SearchBox:hover .SearchBox-select {
        padding-left: 2em;
        padding-right: 1em;
        width: 240px;
    }

.SearchBox-select {
    width: 0;
    font-size: 1.2em;
    color: #fff;
    transition: .45s;
}

.SearchBox-button {
    display: flex;
    border-radius: 50%;
    width: var(--height);
    height: var(--height);
    background-color: var(--accent-color);
    transition: .3s;
}

    .SearchBox-button:active {
        transform: scale(.85);
    }

.SearchBox-icon {
    margin: auto;
    color: #fff;
}


@media screen and (min-width: 400px) {
    .SearchBox:hover .SearchBox-input {
        width: 500px;
    }
}




